* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- */

/* photo container */
.photo-cont {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}
/* /photo container */

/*  rome */
.rome-img {
  background-image: url(../img/rome.jpg);
}

.rome-text {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.rome-text:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
/* / rome */

/* amsterdam */
.amsterdam-img {
  background-image: url(../img/amsterdam.jpg);
}

.overlay-amst {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.amst-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* /amsterdam */

/* tokyo */
.tokyo-img {
  background-image: url(../img/tokyo.jpg);
}

.overlay-tokyo {
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.overlay-tokyo:hover {
  height: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/* /tokyo */
