* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- */

/* photo container */
.photo-cont {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}
/* /photo container */

/*  rome */
.rome {
  background-image: url(../img/rome.jpg);
}

.rome-text {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* / rome */

/* amsterdam */
.amsterdam {
  background-image: url(../img/amsterdam.jpg);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* /amsterdam */

/* tokyo */
.tokyo {
  background-image: url(../img/tokyo.jpg);
}
/* /tokyo */
